

/*
    Inician elementos en el header
*/
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: #ffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}



.logo{
    display: flex;
    width: fit-content;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}
.Truck{
    width: 100%;
    height: 70%;
    cursor: pointer;
}


.menu{
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 100%;
    align-items: center;
    margin-right: 2%;
}

.MenuIcon{
    width: auto;
    height: 30%;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease;
}

.MenuIcon:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
