.headerComponentMainContainer{
    width: 100%;
    height: 5%;
    background-color: #2596be;
}
.LogoIconContainer{
    display: flex;
    width: 3%;
    height: 100%;
    justify-content: center;
}
.LogoIcon{
    padding: 5px;
}