/* 
    Estilos aplicados a todo el login
*/

*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*
    mainView es la vista principal en este se contienen todos los componentes del login
*/

.mainView{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
}

.blueContainer{
    display: flex;
    width: 500px;
    height: 500px;
    margin-top: -2%;
    margin-left: 2%;
    border-radius: 10px;
    background-color: #1053ff;
}

.loginContainer{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.loginForm{
    width: 100%;
    height: 100%;

}

.inputLoginFormContainer{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.inputLoginForm{
    width: 70%;
    height: 30px;
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 10px;
}

.separacion{
    margin-top: 7%;
}

.titleLoginTextContainer{
    width: 100%;
    display: flex;
    font-size: 20px;
    align-items: center;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
}

.titleLoginText{
    font-size: 20px;
    font-weight: 400;
}

.submitButtonContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}


.submitButton{
    width: 50%;
    height: 40px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #1053ff;
}
.camion{
    width: 30%;
    margin-top: 5%;
}
.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    width: 100%;
}
.labelInput{
    position: absolute;
    font-weight:normal;
    align-items:none;
    width: 70%;
    font-size: 17px;
    pointer-events: none;
}

.active{
    animation-name: labelUp;
    margin-top: -65px;
    animation-duration: 0.5s;
}
.inactive{
    animation-name: labelDown;
    animation-duration: 0.5s;
}


/*  animaciones */
@keyframes labelUp {
    0%{margin-top: 0px;}
    100%{margin-top: -65px;}
}

@keyframes labelDown {
    0%{margin-top: -60px;}
    100%{margin-top: 0px;}
}