*{
    padding: 0px;
    margin: 0px;
}

.blurContainerBase{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    pointer-events: All;
}

.blurContainerOpen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    pointer-events: All;
}
.blurContainerClose{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    opacity: 0;
    pointer-events: none;
}

.formContainer{
    width: 40%;
    height: auto;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   
    
}
.titleContainer{
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: center;

}
h1{
    font-size: 30px;
}

.form{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

input{
    width: 50%;
    margin-top: 10px;
    padding: 5px 10px;
}
label{
    margin-top: 10px;
}


.buttonContainer{
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonCreate{
    width: 50%;
    min-width: 150px;
    height: 40px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #1053ff;
    transform: scale(1);
    transition: all 0.3s ease;
}
.buttonCreate:hover{
    transform: scale(1.05);
}
.closeWindowContainer{
    width: 100%;
    height: auto;
    display: flex;
}
.closeWindowIcon{
    width: 12px;
    height: 12px;
    padding: 20px 20px;
    cursor: pointer;
    margin-left: auto;
}