*{
    padding: 0px;
    margin: 0px;
}

.mainView{
    background-color: rgb(255, 255, 255);
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer{
    width: 100%;
    height:25%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    border-bottom-style:inset;
}

.imgVital{
    height: 100%;
}

.infoContainer{
    margin-top: 3%;
    width: 90%;
    height: 50%;
    overflow-y: auto;
}

.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.buttonViewCard{
    width: 90%;
    height: 50px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #1053ff;
    transform: scale(1);
    transition: all 0.3s ease;
    margin-bottom: 5%;
}

.buttonViewCard:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 15px;
    font-weight: 500;
    margin-top: 5%;
}