*{
    padding: 0px;
    margin: 0px;
}

.listContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    margin-bottom: 50px;
}

.listContainerNoContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
p{
    padding: 10px 10px;
    width: fit-content;
}
.pContainer{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}