/*
    Aqui comienza el contenido del Contenedor de opciones

*/

.mainOptionsContainerBase{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.mainOptionsContainerOpen{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    pointer-events: all;
}
.mainOptionsContainerClose{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

}


.blurContainerBase{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.blurContainerOpen{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    pointer-events: all;
    animation-name: blurContainerOpenAnimation;
    animation-duration: 0.5s;
}

@keyframes blurContainerOpenAnimation {
    0%{backdrop-filter: blur(0px);}
    100%{backdrop-filter: blur(10px);}
}

.blurContainerClose{
    width: 100%;
    height: 100%;
    animation-name: blurContainerCloseAnimation;
    animation-duration: 0.5s;
}

@keyframes blurContainerCloseAnimation {
    0%{backdrop-filter: blur(10px);}
    100%{backdrop-filter: blur(0px);}
}




/*
    Aqui empieza todo el contenido del options container
*/

.optionsContainerBase{
    display: flex;
    position: fixed;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #fff;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
}

.optionsContainerOpen{
    display: flex;
    position: fixed;
    right: 0;
    width: 20%;
    min-width: 350px;
    height: 100%;
    background-color: #fff;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
    transform: translateX(0%);
    animation-name: optionsContainerOpen;
    animation-duration: 0.5s ;
}

@keyframes optionsContainerOpen {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0%);}
}

.optionsContainerClose{
    display: flex;
    position: fixed;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #fff;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    animation-name: optionsContainerClose;
    animation-duration: 0.5s;
}

@keyframes optionsContainerClose {
    0% {transform: translateX(0%);}
    100% {transform: translateX(100%);}
}


.closeSesionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #ffff;
}

.closeSesionButton{
    width: 80%;
    height: 50%;
    border: 0px;
    background-color: #DC2626;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition: all ease 0.3s;
}

.closeSesionButton:hover{
    transform: scale(1.05);
    transition: all ease 0.3s;
}


.OtherContainer{
    display: flex;
    width: 100%;
    height: 5%;
    align-items: center;
}

.closeIcon{
    height: 25%;
    margin-left: 5%;
    cursor: pointer;
}