*{
    padding: 0px;
    margin: 0px;
}
.mainView{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    flex-direction: column;
}



/*
    Inician elementos en el header
*/
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: #ffff;
}



.logo{
    display: flex;
    width: fit-content;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}
.Truck{
    width: 100%;
    height: 70%;
    cursor: pointer;
}


.menu{
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 100%;
    align-items: center;
    margin-right: 2%;
}

.MenuIcon{
    width: auto;
    height: 40%;
    cursor: pointer;
}


/*
    Inician elementos en el body
*/

.body{
    display: flex;
    width: 90%;
    height: 100%;
    background-color: aqua;
}


.buttonContainer{
    width: 100%;
    height: fit-content;
    background-color: azure;
    margin-top: 1%;
}

.buttonAdd{
    width: 10%;
    height: 40px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #1053ff;
    transform: scale(1);
}
.buttonAdd:hover{
    transform: scale(1.05);
}

/*
    Aqui comienza el contenido del Contenedor de opciones

*/

.mainOptionsContainer{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
}


.blurContainer{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}




/*
    Aqui empieza todo el contenido del options container
*/

.optionsContainerBase{
    display: flex;
    position: fixed;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #fff;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
}

.optionsContainerOpen{
    display: flex;
    position: fixed;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #fff;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
    animation-name: optionsContainerClose;
    animation-duration: 0.5s;
    transform: translateX(0%);
}

@keyframes optionsContainerOpen {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0%);}
}

@keyframes optionsContainerClose {
    0% {transform: translateX(0%);}
    100% {transform: translateX(100%);}
}


.closeSesionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #ffff;
}

.closeSesionButton{
    width: 80%;
    height: 50%;
    border: 0px;
    background-color: #DC2626;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition: all ease 0.3s;
}

.closeSesionButton:hover{
    transform: scale(1.05);
    transition: all ease 0.3s;
}


.OtherContainer{
    display: flex;
    width: 100%;
    height: 5%;
    align-items: center;
}

.closeIcon{
    height: 25%;
    margin-left: 5%;
    cursor: pointer;
}