*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainView{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blueContainer{
    display: flex;
    width: 500px;
    height: 500px;
    margin-top: -5%;
    margin-left: 5%;
    border-radius: 10px;
    background-color: #1053ff;
}

.loginContainer{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.loginForm{
    width: 100%;
    height: 100%;

}

.inputLoginFormContainer{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.inputLoginForm{
    width: 70%;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 10px;
}

.separacion{
    margin-top: 7%;
}

.titleLoginTextContainer{
    width: 100%;
    height: 40%;
    display: flex;
    font-size: 20px;
    align-items: end;
    justify-content: center;
}

.titleLoginText{
    font-size: 20px;
    font-weight: 400;
}

.submitButtonContainer{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.submitButton{
    width: 50%;
    height: 40px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #1053ff;
}
