.buttonContainer{
    display: flex;
    width: fit-content;
    height: fit-content;
}
.button{
    width: 100%;
    height: 100%;
    background-color: #3b82f6;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 10px 15px -3px rgba(59, 130, 246, 0.3);
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s ease;
    border-radius: 0.5rem;
    border: none;
}

.button:hover{
    background-color: #60a5fa;
    transform: scale(1.05);
}