*{
    padding: 0px;
    margin: 0px;
}
.inputContainer{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items:unsafe;
    position: relative;
    box-sizing: border-box;
}

.input{
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 0.5rem;
    opacity: 0.5;
    box-sizing: border-box;
}
.inputUp{
    opacity: 1;
    margin-top: 15px;
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

.label{
    position: absolute;
    padding: 0px 10px;
    pointer-events: none;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    transition: all 0.3s ease;
    opacity: 0.5;
    user-select: none;
}

.labelUp{
    transform: translateY(-160%);
    opacity: 1;
    transition: all 0.3s ease;
    user-select: none;
    margin-top: 10px;
}
.IconEyeContainer{
    display: flex;
    position: absolute;
    width: fit-content;
    height: fit-content;
    opacity: 0.5;
    right: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1;
}

.IconEyeContainerUp {
    margin-top: 15px;
    transition: all 0.3s ease;
    opacity: 1;
}

.IconEye{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
