.form{
    min-width: 400px;
    width:25%;
    height: 60vh;
    min-height: 500px;
    background-color: rgba(15, 23, 42, 0.4);
    border-radius: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2.5rem 2rem;
    gap: 2rem;


}

.logoContainer{
    display: flex;
    justify-content: center;
    pointer-events: none;
    margin-top: 5%;
    width: 100%;
    height: 30%;
    user-select: none;
}

.labelsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    user-select: none;

}

.labelTitle{
    font-size: 1.7rem;
    font-weight: 700;
}
.labelSubTitle{
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.5;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    align-items: center;
}


.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}